body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: #2c2e2f;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 93.75%;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.textInput {
    position: relative;
    margin: 0 0 10px;
}
.fieldWrapper {
    position: relative;
    z-index: 2;
    width: 100%;
}
.textInput input, .textInput textarea {
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #9da3a6;
    background: #fff;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #000;
    font-size: 1em;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
}
.actionsSpaced {
    margin-top: 30px;
}
a.button, a.button:link, a.button:visited, .button {
    width: 100%;
    height: 44px;
    padding: 0;
    border: 0;
    display: block;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 1em;
    text-align: center;
    font-weight: 700;
    font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: none;
    text-decoration: none;
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
    -webkit-font-smoothing: antialiased;
    
    color: #fff;
    background-color: #0070ba;
}

/* */
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    background-color: #000;
}

.modal {
    position: fixed;
    padding: 0 0 70px;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: none;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal-sm {
    width: 100%;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0);
    transform: translate(0);
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-header-bar{
    margin: 3%;
}
.modal-main{
    margin: 10% 5% 15% 5%;
}
.modal-main header{
    font-size: 22px;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light",arial,helvetica,sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 28px;
    margin: 0 0 10px;
}
.forget-content{
    font-family: "HelveticaNeue-Light","Helvetica Neue Light",arial,helvetica,sans-serif;
    color: #414042;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 10px 0;
}
.forget-content-err, .signup-content-err, .login-input-err{
    color: red;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    height: 15px;
    margin: 0 0 10px 0;
}

@media (min-width: 768px){
.modal{
    width: 460px;
    margin: auto;
}

.modal-dialog {
    margin: 30px auto;
}
.modal-content {
    display: block;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
}


.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

