<div class="layout-container">
    <header class="layout-header">
    <div class="layout-menu-btn" (click)="onClickToggleMenu()">
        <i class="icono-hamburger"></i></div>
        <div class="layout-header-title-row">
            <span class="layout-header-title">Dashboard</span></div>
    </header>
    
    <div class="layout-menu" [ngClass]="{'is-visible': isVisible}" (click)="onClickToggleMenu()">
        <nav>
            <div class="layout-menu-item" [routerLink]="['Home']">
                <span>Home</span>
            </div>
            <div class="layout-menu-item" [routerLink]="['MyProfile']">
                <span>MyProfile</span>
            </div>
            
            <div class="layout-menu-item" [routerLink]="['Products']">
                <span>Products</span>
            </div>
            <div class="layout-menu-item" [routerLink]="['Users']">
                <span>Users</span>
            </div>
            <div class="layout-menu-item" [routerLink]="['Tester']">
                <span>Tester</span>
            </div>
            
            <div class="layout-menu-item" (click)="onClickLogout($event)">
                <span>Logout</span>
            </div>
            
        </nav>
    </div>
    
    <div class="layout-content">
        <router-outlet></router-outlet>
    </div>
    <div class="layout-backdrop" [ngClass]="{'is-visible': isVisible}" (click)="onClickToggleMenu()"></div>

</div>