<div class="contentContainer">
<header><div class="logo">
<h1>Login</h1>
</div></header>

<form>
<div class="main">
<div class="textInput">
<div class="fieldWrapper">
<input #email placeholder="Email" />
</div>
</div>
<div class="textInput">
<div class="fieldWrapper">
<input #password type="password" placeholder="Password" />
</div>
</div>

<div class="actionsSpaced">
<button class="login-btn button" (click)="login(email.value, password.value,$event)">Login</button>
</div>

<div class="actionsSpaced">
<button class="signup-btn button" (click)="toggleSignUpModal($event,'signup')">Sign Up</button>
</div>

<div class="forgotLink">
<a (click)="toggleForgetPwModal($event)">Forgot your email or password?</a>
</div>
</div>
</form>

</div>
<div #mymodal></div>